body{
   background-color: #bcbcbc;
}

.chico{
    
    width:100%;
    height: 100px;
    margin-bottom: 10px;
    float: left;
}

.grande{
    
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    float: left;
}

.container{
    
    margin-bottom: 10px;
    float: left;

    width: 100%;
    box-sizing: border-box;
  
}

.mediano{
    width: 50%;
    /* width: 830px; */
    height: 200px;
    float: left;
    /* display: inline-block; */
    box-sizing: border-box;
    
}

.margin-derecho{
    
     margin-right: 10px; 
    
}



.azul{
    background-color: #a8e3fa;
}
